.about {
  padding-top: 3rem;
}

.about__img {
  position: relative;
  width: 21.5rem;
  margin: 0 auto;
}

.about__img__wrapper {
  margin-bottom: 3rem;

  @include mq('medium-l') {
    margin-bottom: 0;
  }
}

.about__img__gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $salmon;
  opacity: 0.4;
}

.about__img__thumb {
  display: block;
  width: 100%;
}

.about__content {
  max-width: 64rem;
  @include mq('medium-l') {
    padding-left: 3rem;
  }
}
