.about {
  padding-top: 3rem;
}

.about__img {
  position: relative;
  width: 21.5rem;
  margin: 0 auto;
}

.about__img__wrapper {
  margin-bottom: 3rem;

  @include mq('medium-l') {
    margin-bottom: 0;
  }
}

.about__img__gradient {
  @include position();
}

.about__img__thumb {
  display: block;
  width: 100%;
  opacity: .98;
}

.about__content {
  max-width: 64rem;
  @include mq('medium-l') {
    padding-left: 3rem;
  }
}
