.footer {
  padding: 1rem 3rem 2rem;
  font-size: 1.2rem;
  text-align: center;

  @include mq('medium-l') {
    text-align: right;
  }

  .home & {
    @include position( $position: fixed, $top: auto, $left: auto, $width: auto, $height: auto);
    z-index: 30;
  }
}
