.header {
  .home & {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .subpage & {
    position: relative;
    margin-left: 4rem;
    margin-top: 3rem;
    .h1 {
      font-size: 3.6rem;
      text-align: left;
    }
  }
}

// .header__subtitle {
//   position: relative;
//   text-transform: uppercase;
//   font-size: 1.2rem;
//   text-align: center;
// }

// .header__subtitle__letter {
//   position: relative;
//   display: inline-block;
//   padding: 0 .5em;
//   transform: rotateY(90deg);
//   transform-origin: .25em 50%;
//   transition: transform .86s;
//   transform-style: preserve-3d;
//   will-change: transform;

//   @for $i from 1 through 9 {
//     &:nth-child(#{$i}){
//       transition-delay: #{($i/10)+0.6}s;
//     }
//   }

//   .animate & {
//     transform: rotateY(0deg);
//   }
// }

.header__wrapper {
  position: relative;
  z-index: 20;

  .subpage & {
    display: flex;
    align-items: baseline;
  }
}

.header__subtitle {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.header__bg {
  @include position();
  z-index: 10;
  animation: showBg 3.6s;
}

.header__menu {
  margin: 1rem auto 0;
  line-height: 2;

  @include mq('medium') {
    display: block;
  }

  @include mq('medium-l') {
    max-width: 40rem;
  }

  .subpage & {
    display: none;
    @include position($position: absolute, $top: 1.6rem, $left: auto, $right: 4rem, $width: 60rem, $height: auto);
    line-height: 1;
    z-index: 30;

    @include mq('medium-l') {
      display: block;
      max-width: 40rem;
    }
  }
}

.header__menu__list {

  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .3rem;
  font-weight: bold;

  @include mq('medium-l') {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

.header__menu__item {
  background: white;
  a {
    color: black;
  }
}

@keyframes showBg {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  90% { opacity: 1; }
}