.portfolio {
    margin-top: 6rem;
  @include mq('medium') {
    margin-top: 12rem;
  }
}

.portfolio__subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2rem;
  letter-spacing: .2em;
}

.portfolio__title {
  margin-bottom: 0;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__item {
  position: relative;
  margin: 0 .6rem 3rem;
  cursor: pointer;
  text-align: center;

  img {
    filter: grayscale(100%);
    opacity: .8;
    transition: filter .3s;
  }

  @include mq('medium-l') {
    &:hover {
      img {
        filter: grayscale(0);
      }
      .portfolio__item__title {
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.portfolio__item__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 10;
}

.portfolio__item__title {
  font-size: 1.2rem;
  margin-top: 1em;
  letter-spacing: .1em;
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(black, .6);
    transition: width .33s;
  }
}
